server/koticloud
cli/koticli
notes
etc/settings
matui/node_modules
matui/static/main.*
matui/static/fonts
matui/static/*.js
matui/static/*.js.*txt
*~
#*#
.vscode
*.gz
*.tar
docker-compose.yml
etc/config_demo.json
config.json
