server/koticloud
cli/koticli
etc/settings
ui/node_modules
static/main.*
static/fonts
static/*.js
static/*.js.*txt
*~
#*#
.vscode
*.gz
*.tar
docker-compose.yml
etc/config_demo.json
config.json
*.woff2
*.woff
notes
